<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success" *ngIf="message">{{ message }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="title">About Abhishek Yadav</div>
                        <p>Welcome to my world of innovative software solutions! I am a dynamic individual
                            passionate about crafting cutting-edge technology to meet the demands of today's digital
                            landscape. My journey began with a love for coding and a vision to revolutionize the way
                            software empowers businesses and individuals alike.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-    12">
                    <div class="card-body">
                        <div class="title">Basic Information</div>
                        <div class="basic-info">
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Date of Birth:</strong>
                                </div>
                                <div class="col-sm-8">Aug 08, 2000</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Email:</strong>
                                </div>
                                <div class="col-sm-8">abhishekyadav228899@gmail.com</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Mobile No:</strong>
                                </div>
                                <div class="col-sm-8">9519001846</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Address:</strong>
                                </div>
                                <div class="col-sm-8">Raebareli, Uttar Pradesh, India - 229001</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Language:</strong>
                                </div>
                                <div class="col-sm-8">Hindi, English</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>