<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Education</h2>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bachelor's Degree in Electronics and Communication Engineering</h4>
                    <p class="card-text">Dr. APJ abdul Kalam University, Lucknow</p>
                    <p class="card-text">Year: 2018 - 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>