<div class="container" style="padding: 20px;">
    <div class="jumbotron"
        style="background-image: url('https://www.simplilearn.com/ice9/free_resources_article_thumb/Webinar-Wrapup-What-is-Threat-Hunting-and-What-Skills-Can-Help-You-Become-A-Threat-Hunter.jpg'); margin-top: 30px; padding: 100px; background-size: cover; background-position: center;">
        <h1 style="color: white; text-align: center;">Welcome to myPortfolio</h1>
        <p style="color: white; text-align: center;">Craft your amazing portfolio effortlessly...</p>
    </div>
</div>