<div class="container">
    <ul class="nav navbar">
        <li>Contact: <span id="phoneno">{{phoneno}}</span></li>
    </ul>

    <div class="contact-info">
        <h2>Contact Details</h2>
        <p>If you have any inquiries, feel free to reach out to us using the contact information below:</p>
        <ul>
            <li><strong>Email:</strong> abhi0905yadav@gmail.com</li>
            <li><strong>Address:</strong> Raebareli, Uttar Pradesh, India - 229001</li>
        </ul>
    </div>
</div>